
/* Hide the loading text */
#pyscript-loading-label, #pyscript-operation-details {
    display: none;
}

.py-pop-up::before {
    content: url('../splash.png');
}

.py-pop-up .spinner::after {
    top: inherit;
    margin-top: 2em;
}

/*******************************************************************
 * WARNING: Do not remove or modify anything between the CSS:start
 * and CSS:end markers; this content is contributed by wheels, and
 * is generated during the build step.
 *******************************************************************/
/*****@ CSS:start @*****/
/*****@ CSS:end @*****/
