
/* Hide the loading text */
#pyscript-loading-label, #pyscript-operation-details {
    display: none;
}

.py-pop-up::before {
    content: url('../splash.png');
}

.py-pop-up .spinner::after {
    top: inherit;
    margin-top: 2em;
}

/*******************************************************************
 * WARNING: Do not remove or modify this comment block, or add any
 * content below this block. Briefcase will add content here during
 * the build step.
 ******************* Wheel contributed styles **********************/
